@model Tuan5_NguyenNgocThien.Models.Sach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="form-group">
    <div class="col-md-10">
        <strong>Hình</strong>
        @Html.EditorFor(model => model.hinh, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.hinh, "", new { @class = "text-danger" })
        <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
        <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
        <img src="@Model.hinh" id="pictureUpload" />
    </div>
</div>
@section upload
 {
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
        });

        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $('#fileUpload').get(0);
                var files = fileUpload.files;
                var formData = new FormData();
                formData.append('file', files[0]);
                $.ajax(
                    {
                        type: 'POST',
                        url: '/Sach/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload').attr('src', urlImage);
                            $('#hinh').val(urlImage);
                        },
                        error: function (err) {
                            alert('Error ', err.statusText);
                        }
                    });
            }
        });
    </script>
}
        

